{{define "header"}}
<header id="header">
    <img src="/assessts/images.png" alt="images not found">
    <b>Dhinesh Developer YouTube Channel</b>
</header>

<nav class="nav">
    <ul>
        <li><a href="/https://www.youtube.com/@dhineshdeveloper07">PlayList</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/about">About us</a></li>
    </ul>

</nav>
{{end}}

{{define "footer"}}
<footer class="footer">
    @Copyright : Dk website
</footer>
{{end}}