<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <form action="/" method="post">
        <table border="2px">
            <tr>
                <td><label for="id">Enter the id</label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><label for="name">Enter the Name</label></td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><label for="course">Enter the course</label></td>
                <td><input type="text" name="course"></td>
            </tr>
            <tr>
                <td><label for=""></label></td>
                <td><input type="submit" name="submit" value="Send"></td>
            </tr>
        </table>
    </form>
</body>
</html>